@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather+Sans&display=swap');


body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.navbar{
  margin-bottom: 0px;
}
